{% load static %}
{% load math %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MLB Wizard</title>
  <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" />
  <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/MLBWizard3.png' %}" />
</head>

<body>
  <div class="container-scroller" style="background-color: #DBD6D8;">


    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-image: url('{% static 'images/Banner3Resized.png' %}'); ">
      <div class="bg-white text-center navbar-brand-wrapper">
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
          <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
        </form>
        <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
          <li class="nav-item">
            <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
          <div class="user-info">
            <img src="{% static 'images/MLBWizard3.png' %}" alt="">
            <p class="name">Developed by</p>
            <p class="name">James Runtas</p>
          </div>
          <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">
                  <span class="menu-title">Dashboard</span>
              </a>
          </li>          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'all_articles' %}">
                <span class="menu-title">News</span>
            </a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'leaderboards' %}">
                <span class="menu-title">Leaderboards</span>
            </a>
        </li>
          </ul>
        </nav>

        <div class="content-wrapper" style="background-color: transparent; background-image: url('{% static 'images/bg.png' %}'); ">
          <h3 class="page-heading mb-4" style=" color: #F7D5C5; font-size: 36px;">Dashboard</h3>
          <!-- MLB Divisions -->
          <!-- MLB Divisions -->
          {% if standings_data %}
          <div class="row mb-4">
              {% for division_id, division_data in standings_data.items %}
              <div class="col-md-4 mb-4">
                  <div class="card" style="border: 2px solid black; border-radius: 10px; background-color: rgba(255, 255, 255, 0.5);">
                      <div class="card-body">
                          <table class="table no-border">
                              <thead>
                                  <tr>
                                      <th>{{ division_data.div_name }}</th>
                                      <th>Record</th>
                                      <th>Pct</th>
                                      <th>GB</th>
                                      <th>L10</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for team in division_data.teams %}
                                <tr style="cursor: pointer;" onclick="window.location='{% url 'team_info' team.team_id %}'">
                                  <td class="align-middle">
                                      <!-- Displaying the logo and abbreviation -->
                                      <div style="display: flex; align-items: center;"> 
                                          <img src="{{ team.logo_url }}" alt="{{ team.name }} Logo" height="50" width="50">
                                          <div>{{ team.abbreviation }}</div>
                                      </div>
                                  </td>
                                  <td class="align-middle">{{ team.w }}W-{{ team.l }}L</td>
                                  <td class="align-middle">{{ team.w|win_percentage:team.l }}</td>
                                  <td class="align-middle">{{ team.gb }}</td>
                                  <td class="align-middle">{{ team.last_10 }}</td>
                              </tr>
                                {% endfor %}
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
          {% else %}
          <p>Standings data not available.</p>
          {% endif %}
          
        
        
      
      
          <!-- News Division -->
          <!-- Recent News Division -->
          <div class="row mt-5">
            <div class="col-12">
              <div class="card" style="border: 2px solid black; border-radius: 10px; background-color: rgba(255, 255, 255, 0.5);">
                    <div class="card-header">
                        <h4>Recent News</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for entry in news_entries %}
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card">
                                    {% if entry.image_href %}
                                    <img src="{{ entry.image_href }}" alt="News image" class="card-img-top">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
                                        </h5>
                                        <small>
                                          {% if entry.author %}
                                          Author: {{ entry.author }} |
                                          {% endif %}
                                          Date: {{ entry.pubDate }}
                                      </small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                              <a href="{% url 'all_articles' %}" class="btn btn-primary">View All</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- partial -->
      </div>
    </div>

  </div>

  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/maps.js' %}"></script>
  
</body>

</html>
