{% load static %}
{% load math %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MLB Wizard</title>
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/MLBWizard3.png' %}" />
    <style>
        .sort-header.asc:after {
            content: "↑";
        }
        .sort-header.desc:after {
            content: "↓";
        }
        .player-info {
            background-color: rgba(255, 255, 255, 0.75); 
            padding: 20px;
        }
        .stats-container {
            display: grid; 
            grid-template-columns: 1fr 1fr; /* Two columns of equal width */
            gap: 20px; /* Spacing between grid items */
        }
        .stats-container > div {
            padding: 10px;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.75); /* 75% transparent background */
            border: 1px solid #ccc;
            border-radius: 10px;  /* Rounded corners for the divs */
        }
        .stats-container table {
            width: 100%; 
            max-width: 100%;
            border-collapse: collapse; /* Ensures borders are combined */
        }
        .stats-container table, .stats-container th, .stats-container td {
            border: 1px solid #ccc;
            border-radius: 5px; /* Rounded corners for tables, header cells, and data cells */
        }
    </style>
</head>

<body>
    <div class="container-scroller" style="background-color: #DBD6D8;">
        <!-- Navbar Section -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-image: url('{% static 'images/Banner3Resized.png' %}'); ">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Sidebar Section -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="{% static 'images/MLBWizard3.png' %}" alt="">
                        <p class="name">Developed by</p>
                        <p class="name">James Runtas</p>
                        <p class="name"><a href="https://www.linkedin.com/in/jamesruntas/" target="_blank">My LinkedIn</a></p>
                        <p class="name"><a href="https://jamesruntas.ca/" target="_blank">My Portfolio + other links</a></p>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>            
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'all_articles' %}">
                                <span class="menu-title">News</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'leaderboards' %}">
                                <span class="menu-title">Leaderboards</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Main Content Section -->
            <div class="content-wrapper" style="background-color: #09266A;">
                <div style="background-color: rgba(255, 255, 255, 0.75); padding: 20px; margin-bottom: 20px; border-radius: 10px">
                    <div style="display: flex; align-items: center;"> 
                        <img src="{{ player_info.id|url_player_id_headshot }}" alt="{{ player_info.last_name}} Logo" height="100" width="100">
                    </div>
                    <h1>{{ player_info.first_name }} {{ player_info.last_name }}</h1>
                    <p>Debut: {{ player_info.mlb_debut }}</p>
                    <p>Position: {{ player_info.position }}</p>
                    
                    <div class="stats-container">
                        {% for stat in player_info.stats %}
                            <div>
                                <h2>{{ stat.group|title }}</h2>
                
                                <!-- Display position for fielding stats -->
                                {% if stat.group == "fielding" %}
                                    <h3>{{ stat.stats.position.name }}</h3>
                                {% endif %}
                
                                <table border="1">
                                    {% if stat.group == "hitting" %}
                                        <tr>
                                            <th>G</th>
                                            <th>AB</th>
                                            <th>R</th>
                                            <th>H</th>
                                            <th>TB</th>
                                            <th>2B</th>
                                            <th>3B</th>
                                            <th>HR</th>
                                            <th>RBI</th>
                                            <th>BB</th>
                                            <th>IBB</th>
                                            <th>SO</th>
                                            <th>SB</th>
                                            <th>CS</th>
                                            <th>AVG</th>
                                            <th>OBP</th>
                                            <th>SLG</th>
                                            <th>OPS</th>
                                            <th>GO/AO</th>
                                        </tr>
                                        <tr>
                                            <td>{{ stat.stats.gamesPlayed }}</td>
                                            <td>{{ stat.stats.atBats }}</td>
                                            <td>{{ stat.stats.runs }}</td>
                                            <td>{{ stat.stats.hits }}</td>
                                            <td>{{ stat.stats.totalBases }}</td>
                                            <td>{{ stat.stats.doubles }}</td>
                                            <td>{{ stat.stats.triples }}</td>
                                            <td>{{ stat.stats.homeRuns }}</td>
                                            <td>{{ stat.stats.rbi }}</td>
                                            <td>{{ stat.stats.baseOnBalls }}</td>
                                            <td>{{ stat.stats.intentionalWalks }}</td>
                                            <td>{{ stat.stats.strikeOuts }}</td>
                                            <td>{{ stat.stats.stolenBases }}</td>
                                            <td>{{ stat.stats.caughtStealing }}</td>
                                            <td>{{ stat.stats.avg }}</td>
                                            <td>{{ stat.stats.obp }}</td>
                                            <td>{{ stat.stats.slg }}</td>
                                            <td>{{ stat.stats.ops }}</td>
                                            <td>{{ stat.stats.groundOutsToAirouts }}</td>
                                        </tr>
                                    {% elif stat.group == "pitching" %}
                                        <tr>
                                            <th>ERA</th>
                                            <th>G</th>
                                            <th>GS</th>
                                            <th>CG</th>
                                            <th>SHO</th>
                                            <th>HLD</th>
                                            <th>SV</th>
                                            <th>SVO</th>
                                            <th>IP</th>
                                            <th>H</th>
                                            <th>R</th>
                                            <th>ER</th>
                                            <th>HR</th>
                                            <th>NP</th>
                                            <th>HB</th>
                                            <th>BB</th>
                                            <th>IBB</th>
                                            <th>SO</th>
                                            <th>AVG</th>
                                            <th>WHIP</th>
                                            <th>GO/AO</th>
                                        </tr>
                                        <tr>
                                            <td>{{ stat.stats.era }}</td>
                                            <td>{{ stat.stats.gamesPlayed }}</td>
                                            <td>{{ stat.stats.gamesStarted }}</td>
                                            <td>{{ stat.stats.completeGames }}</td>
                                            <td>{{ stat.stats.shutouts }}</td>
                                            <td>{{ stat.stats.holds }}</td>
                                            <td>{{ stat.stats.saves }}</td>
                                            <td>{{ stat.stats.saveOpportunities }}</td>
                                            <td>{{ stat.stats.inningsPitched }}</td>
                                            <td>{{ stat.stats.hits }}</td>
                                            <td>{{ stat.stats.runs }}</td>
                                            <td>{{ stat.stats.earnedRuns }}</td>
                                            <td>{{ stat.stats.homeRuns }}</td>
                                            <td>{{ stat.stats.numberOfPitches }}</td>
                                            <td>{{ stat.stats.hitBatsmen }}</td>
                                            <td>{{ stat.stats.baseOnBalls }}</td>
                                            <td>{{ stat.stats.intentionalWalks }}</td>
                                            <td>{{ stat.stats.strikeOuts }}</td>
                                            <td>{{ stat.stats.avg }}</td>
                                            <td>{{ stat.stats.whip }}</td>
                                            <td>{{ stat.stats.groundOutsToAirouts }}</td>
                                        </tr>
                                    {% elif stat.group == "fielding" %}
                                        <tr>
                                            <th>G</th>
                                            <th>GS</th>
                                            <th>INN</th>
                                            <th>TC</th>
                                            <th>PO</th>
                                            <th>A</th>
                                            <th>E</th>
                                            <th>DP</th>
                                            <th>RF</th>
                                            <th>Fielding %</th>
                                        </tr>
                                        <tr>
                                            <td>{{ stat.stats.gamesPlayed }}</td>
                                            <td>{{ stat.stats.gamesStarted }}</td>
                                            <td>{{ stat.stats.innings }}</td>
                                            <td>{{ stat.stats.chances }}</td>
                                            <td>{{ stat.stats.putOuts }}</td>
                                            <td>{{ stat.stats.assists }}</td>
                                            <td>{{ stat.stats.errors }}</td>
                                            <td>{{ stat.stats.doublePlays }}</td>
                                            <td>{{ stat.stats.rangeFactorPerGame }}</td>
                                            <td>{{ stat.stats.fielding }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                
                
            </div>
        </div>


        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        
        <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>>
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/misc.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        
    </body>
</html>
