{% load static %}
{% load math %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MLB Wizard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/MLBWizard3.png' %}" />
    <style>
        .sort-header.asc:after {
            content: "↑";
        }
        .sort-header.desc:after {
            content: "↓";
        }
        .highlighted {
            background-color: #f2f2f2;
        }
        body, button, input, textarea, select {
            font-family: 'IBM Plex Sans', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container-scroller" style="background-color: #DBD6D8;">
        <!-- Navbar Section -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-image: url('{% static 'images/Banner3Resized.png' %}'); ">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:partials/_sidebar.html -->
      <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
          <div class="user-info">
              <img src="{% static 'images/MLBWizard3.png' %}" alt="">
              <p class="name">Developed by</p>
              <p class="name">James Runtas</p>
              <p class="name"><a href="https://www.linkedin.com/in/jamesruntas/" target="_blank">My LinkedIn</a></p>
              <p class="name"><a href="https://jamesruntas.ca/" target="_blank">My Portfolio + other links</a></p>
          </div>
          <ul class="nav">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">
                      <span class="menu-title">Teams</span>
                  </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'all_articles' %}">
                      <span class="menu-title">News</span>
                  </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'leaderboards' %}">
                      <span class="menu-title">Leaderboards</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
            <!-- Main Content Section -->
            <div class="content-wrapper" style="background-color: #09266A;">
                    {% if roster %}
                    <div class="row mb-4">
        
                        <div class="col-md-12">
                            <div class="card" style="border: 2px solid black; border-radius: 10px;max-width: 95%; max-height: 90%; background-color: rgba(255, 255, 255, 0.75);">
                                <div>
                                    <button id="showHitters" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Hitters</button>
                                    <button id="showPitchers" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Pitchers</button>
                                    <button id="showFielders" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Fielders</button>

                                </div>
                                                              
                                <div class="card-body" style="max-width: 95%; max-height: 800px; overflow-x: auto; overflow-y: auto; position: relative;">
                                    <p>Click on column header to sort</p>
                                    <p>Click on Player name to see more</p>

                                    <table class="table no-border">
                                        <thead>
                                            <tr>
                                                <th style = "background-color: #3E9FCA; color: #FFFFFF;">Headshot</th>
                                                <th style = "background-color: #3E9FCA; color: #FFFFFF;">Name</th>
                                                <th style = "background-color: #3E9FCA; color: #FFFFFF;">Number</th>
                                                <th style = "background-color: #3E9FCA; color: #FFFFFF;">Position</th>
                                                <!-- Hitting Headers -->
                                                {% for field in hitting_fields %}
                                                    <th style = "background-color: #3E9FCA; color: #FFFFFF;" class="hitting-stats sort-header" data-stat-type="hitting" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                <!-- Pitching Headers -->
                                                {% for field in pitching_fields %}
                                                    <th style = "background-color: #3E9FCA; color: #FFFFFF;" class="pitching-stats sort-header" data-stat-type="pitching" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                <!-- Fielding Headers -->
                                                {% for field in fielding_fields %}
                                                    <th style = "background-color: #3E9FCA; color: #FFFFFF;" class="fielding-stats sort-header" data-stat-type="fielding" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for player in roster %}
                                            <td class="align-middle">
                                                <!-- Displaying the logo and abbreviation -->
                                                <div style="display: flex; align-items: center;"> 
                                                    <img src="{{ player.id|url_player_id_headshot }}" alt="{{ player.name }} Logo" height="50" width="50">
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                <a href="#" onclick="window.location='{% url 'player' player.id %}'">{{ player.name }}</a>
                                            </td>
                                            
                                            <td class="align-middle">{{ player.number }}</td>
                                            <td class="align-middle">{{player.position}}</td>
                                            <!-- Hitting Stats -->
                                            {% for field in hitting_fields %}
                                                {% if player.hitting %}
                                                    <td class="hitting-stats align-middle">{{ player.hitting|get_item:field }}</td>
                                                {% else %}
                                                    <td class="hitting-stats align-middle">-</td> 
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Pitching Stats -->
                                            {% for field in pitching_fields %}
                                                {% if player.pitching %}
                                                    <td class="pitching-stats align-middle">{{ player.pitching|get_item:field }}</td>
                                                {% else %}
                                                    <td class="pitching-stats align-middle">-</td>  
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Fielding Stats -->
                                            {% for field in fielding_fields %}
                                                {% if player.fielding %}
                                                    <td class="fielding-stats align-middle">{{ player.fielding|get_item:field }}</td>
                                                {% else %}
                                                    <td class="fielding-stats align-middle">-</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                          {% endfor %}
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p>roster data not available.</p>
                    {% endif %}

            </div>
            
        </div>


        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>>
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/misc.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script>
            $(document).ready(function() {
                    // This will ensure only hitting stats are shown by default.
                $('.hitting-stats').show();
                $('.pitching-stats').hide();
                $('.fielding-stats').hide();
                $('#showHitters').css({'background-color': 'blue', 'color': 'white'});

                $('#showHitters').click(function() {
                    $('.hitting-stats').show();
                    $('.pitching-stats').hide();
                    $('.fielding-stats').hide();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showPitchers, #showFielders').css({'background-color': '', 'color': ''});
                });
                
                $('#showPitchers').click(function() {
                    $('.hitting-stats').hide();
                    $('.pitching-stats').show();
                    $('.fielding-stats').hide();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showHitters, #showFielders').css({'background-color': '', 'color': ''});
                });
                
                $('#showFielders').click(function() {
                    $('.hitting-stats').hide();
                    $('.pitching-stats').hide();
                    $('.fielding-stats').show();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showHitters, #showPitchers').css({'background-color': '', 'color': ''});
                });
                let currentSortedHeader = null;
                let currentSortOrder = null; 

                $('.sort-header').on('click', function() {
                    let header = $(this);
                    let table = header.closest('table');
                    let tbody = table.find('tbody');
                    let rows = tbody.find('tr').toArray();
                    let statType = header.data('stat-type');
                    let field = header.data('field');
                    let isAscending = header.hasClass('asc');
                    let columnIndex = header.index();

                    if(header.hasClass('asc')) {
                        header.removeClass('asc').addClass('desc');
                    } else {
                        header.removeClass('desc').addClass('asc');
                    }

                    rows.sort(function(a, b) {
                        let cellA = $(a).find('td').eq(columnIndex).text();
                        let cellB = $(b).find('td').eq(columnIndex).text();
                        if (!isNaN(cellA) && !isNaN(cellB)) {
                            return isAscending ? +cellB - +cellA : +cellA - +cellB;
                        }
                        return isAscending ? cellB.localeCompare(cellA) : cellA.localeCompare(cellB);
                    });

                    tbody.append(rows);

                    // Remove previous highlights
                    $('td.highlighted').removeClass('highlighted');
                    // Highlight the entire sorted column
                    rows.forEach(function(row) {
                        $(row).find('td').eq(columnIndex).addClass('highlighted');
                    });

                    // Toggle the header classes
                    table.find('th').not(header).removeClass('asc desc');
                    header.toggleClass('asc', !isAscending).toggleClass('desc', isAscending);
                });
                // Sort by 'Games Played' by default for hitters
                $('.hitting-stats.sort-header[data-field="gamesPlayed"]').click().click();
            });            
        </script>
        
    </body>
</html>
