{% load static %}
{% load math %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MLB Wizard</title>
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/MLBWizard3.png' %}" />
    <style>
        .sort-header.asc:after {
            content: "↑";
        }
        .sort-header.desc:after {
            content: "↓";
        }
        .highlighted {
            background-color: #f2f2f2;
        }
        </style>
    </style>
</head>

<body>
    <div class="container-scroller" style="background-color: #DBD6D8;">
        <!-- Navbar Section -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-image: url('{% static 'images/Banner3Resized.png' %}'); ">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                </form>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{% static 'images/MLBWizard3.png' %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:partials/_sidebar.html -->
      <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
          <div class="user-info">
              <img src="{% static 'images/MLBWizard3.png' %}" alt="">
              <p class="name">Developed by</p>
              <p class="name">James Runtas</p>
          </div>
          <ul class="nav">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">
                      <span class="menu-title">Dashboard</span>
                  </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'all_articles' %}">
                      <span class="menu-title">News</span>
                  </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'leaderboards' %}">
                      <span class="menu-title">Leaderboards</span>
                  </a>
              </li>
              {% if standings_data %}
                {% for division_id, division_data in standings_data.items %}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#{{ division_id }}" aria-expanded="false" aria-controls="{{ division_id }}">
                      <span class="menu-title">{{ division_data.div_name }}</span> 
                      <span class="dropdown-arrow">&#8594;</span> 
                  </a>
                  
                    <div class="collapse" id="{{division_id}}">
                        <ul class="nav flex-column sub-menu">
                            {% for team in division_data.teams %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#" onclick="window.location='{% url 'team_info' team.team_id %}'">
                                        <div style="display: flex; align-items: center;">
                                            <img src="{{ team.logo_url }}" alt="{{ team.name }} Logo" height="25" width="25"> <!-- Adjusted the size for the sidebar -->
                                            <span>{{ team.abbreviation }} Team Stats</span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
              {% endif %}
          </ul>
      </nav>
  </div>
            <!-- Main Content Section -->
            <div class="content-wrapper" style="background-color: transparent; background-image: url('{% static 'images/bg.png' %}'); ">
                    {% if roster %}
                    <div class="row mb-4">
        
                        <div class="col-md-12">
                            <div class="card" style="border: 2px solid black; border-radius: 10px;">
                                <div>
                                    <button id="showHitters" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Hitters</button>
                                    <button id="showPitchers" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Pitchers</button>
                                    <button id="showFielders" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition-duration: 0.4s;">Fielders</button>

                                </div>
                                                              
                                <div class="card-body" style="max-width: 100%; max-height: 500px; overflow-x: auto; overflow-y: auto; position: relative;">
                                    <p>Click on column header to sort</p>

                                    <table class="table no-border">
                                        <thead>
                                            <tr>
                                                <th>Headshot</th>
                                                <th>Name</th>
                                                <th>Number</th>
                                                <th>Position</th>
                                                <!-- Hitting Headers -->
                                                {% for field in hitting_fields %}
                                                    <th class="hitting-stats sort-header" data-stat-type="hitting" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                <!-- Pitching Headers -->
                                                {% for field in pitching_fields %}
                                                    <th class="pitching-stats sort-header" data-stat-type="pitching" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                <!-- Fielding Headers -->
                                                {% for field in fielding_fields %}
                                                    <th class="fielding-stats sort-header" data-stat-type="fielding" data-field="{{ field }}">{{ field|capfirst }}</th>
                                                {% endfor %}

                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for player in roster %}
                                            <td class="align-middle">
                                                <!-- Displaying the logo and abbreviation -->
                                                <div style="display: flex; align-items: center;"> 
                                                    <img src="{{ player.id|url_player_id_headshot }}" alt="{{ player.name }} Logo" height="50" width="50">
                                                </div>
                                            </td>
                                            <td class="align-middle">{{ player.name }}</td>
                                            <td class="align-middle">{{ player.number }}</td>
                                            <td class="align-middle">{{player.position}}</td>
                                            <!-- Hitting Stats -->
                                            {% for field in hitting_fields %}
                                                {% if player.hitting %}
                                                    <td class="hitting-stats align-middle">{{ player.hitting|get_item:field }}</td>
                                                {% else %}
                                                    <td class="hitting-stats align-middle">-</td> 
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Pitching Stats -->
                                            {% for field in pitching_fields %}
                                                {% if player.pitching %}
                                                    <td class="pitching-stats align-middle">{{ player.pitching|get_item:field }}</td>
                                                {% else %}
                                                    <td class="pitching-stats align-middle">-</td>  
                                                {% endif %}
                                            {% endfor %}

                                            <!-- Fielding Stats -->
                                            {% for field in fielding_fields %}
                                                {% if player.fielding %}
                                                    <td class="fielding-stats align-middle">{{ player.fielding|get_item:field }}</td>
                                                {% else %}
                                                    <td class="fielding-stats align-middle">-</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                          {% endfor %}
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p>roster data not available.</p>
                    {% endif %}
                    <h3 class="page-heading mb-4" style="color: #F7D5C5; font-size: 36px;">{{ team_name }}</h3>
                    <div class="row mt-5">
                        <div class="col-12">
                          <div class="card" style="border: 2px solid black; border-radius: 10px; background-color: rgba(255, 255, 255, 0.75);">
                                <div class="card-header">
                                    <h4>Recent Game Highlights</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for highlight in game_highlights %}
                                        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                            <div class="card">
                                                {% if entry.image_href %}
                                                <img src="{{ highlight.image_href }}" alt="News image" class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <a href="{{ highlight.link }}">{{ highlight.description }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>


        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>>
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/misc.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script>
            $(document).ready(function() {
                    // This will ensure only hitting stats are shown by default.
                $('.hitting-stats').show();
                $('.pitching-stats').hide();
                $('.fielding-stats').hide();
                $('#showHitters').css({'background-color': 'blue', 'color': 'white'});

                $('#showHitters').click(function() {
                    $('.hitting-stats').show();
                    $('.pitching-stats').hide();
                    $('.fielding-stats').hide();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showPitchers, #showFielders').css({'background-color': '', 'color': ''});
                });
                
                $('#showPitchers').click(function() {
                    $('.hitting-stats').hide();
                    $('.pitching-stats').show();
                    $('.fielding-stats').hide();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showHitters, #showFielders').css({'background-color': '', 'color': ''});
                });
                
                $('#showFielders').click(function() {
                    $('.hitting-stats').hide();
                    $('.pitching-stats').hide();
                    $('.fielding-stats').show();
                    // Set this button's colors and reset others
                    $(this).css({'background-color': 'blue', 'color': 'white'});
                    $('#showHitters, #showPitchers').css({'background-color': '', 'color': ''});
                });
                let currentSortedHeader = null;
                let currentSortOrder = null; 

                $('.sort-header').on('click', function() {
                    let header = $(this);
                    let table = header.closest('table');
                    let tbody = table.find('tbody');
                    let rows = tbody.find('tr').toArray();
                    let statType = header.data('stat-type');
                    let field = header.data('field');
                    let isAscending = header.hasClass('asc');
                    let columnIndex = header.index();

                    if(header.hasClass('asc')) {
                        header.removeClass('asc').addClass('desc');
                    } else {
                        header.removeClass('desc').addClass('asc');
                    }

                    rows.sort(function(a, b) {
                        let cellA = $(a).find('td').eq(columnIndex).text();
                        let cellB = $(b).find('td').eq(columnIndex).text();
                        if (!isNaN(cellA) && !isNaN(cellB)) {
                            return isAscending ? +cellB - +cellA : +cellA - +cellB;
                        }
                        return isAscending ? cellB.localeCompare(cellA) : cellA.localeCompare(cellB);
                    });

                    tbody.append(rows);

                    // Remove previous highlights
                    $('td.highlighted').removeClass('highlighted');
                    // Highlight the entire sorted column
                    rows.forEach(function(row) {
                        $(row).find('td').eq(columnIndex).addClass('highlighted');
                    });

                    // Toggle the header classes
                    table.find('th').not(header).removeClass('asc desc');
                    header.toggleClass('asc', !isAscending).toggleClass('desc', isAscending);
                });
                // Sort by 'Games Played' by default for hitters
                $('.hitting-stats.sort-header[data-field="gamesPlayed"]').click().click();
            });            
        </script>
        
    </body>
</html>
